CONFIG_SPL_FIT_GENERATOR="arch/arm/mach-rockchip/make_fit_atf_optee.sh"
# CONFIG_FIT_SIGNATURE is not set
# CONFIG_SPL_FIT_SIGNATURE is not set
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 irqchip.gicv3_pseudo_nmi=0 root=/dev/mapper/armbian-root rw rootwait"
